
    {% extends 'app/base.html'%}

    {% block content %}
    
    <form action="{% url 'savedata'%}" method="post">

        {% csrf_token %}


    <section class="h-100 bg-dark">
      
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-none d-xl-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                      alt="Sample photo" class="img-fluid"
                      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                  </div>
                  <div class="col-xl-6">
                    <div class="card-body p-md-5 text-black">
                      <h3 class="mb-5 text-uppercase">Registration form</h3>
      
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1m" class="form-control form-control-lg" name="name" />
                           
                            <label class="form-label" for="form3Example1m">Enter Name</label>
                          </div>
                        </div>

                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1n" class="form-control form-control-lg" name="email" />
                        
                            <label class="form-label" for="form3Example1n">Enter Email</label>
                          </div>
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1m1" class="form-control form-control-lg" name="contact" />
                            <label class="form-label" for="form3Example1m1">Enter Contact</label>
                          </div>
                        </div>

                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1n1" class="form-control form-control-lg"  name="city"/>
                            <label class="form-label" for="form3Example1n1">Enter City</label>
                          </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input type="text" id="form3Example1n1" class="form-control form-control-lg"  name="password"/>
                              <label class="form-label" for="form3Example1n1">Enter Password</label>
                            </div>
                        </div>
                    </div>
                      
      
                      
      
                      <div class="d-flex justify-content-end pt-3">
                        
                        <a href="{% url 'login' %}"><button type="Submit" class="btn btn-warning btn-lg ms-2">Submit form</button></a>
                      </div>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
    {% endblock %} 



    