
    
    {% extends 'app/base.html'%}
    {% block content %}
    
    <br>
    <div class="container">
        <br>
        <h1 style=" color:black; margin-left:840px; ">{{data | default:'welcome guest'}}</h1>

		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Increase your productivity with <a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Small Apps</a></h2>
					<!-- Feature Description -->
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						ea commodo consequat.</p>
				</div>
				<!-- Testimonial Quote -->
				<div class="testimonial">
					<p>
						"InVision is a window into everything that's being designed at Twitter. It gets all of our best work in one
						place."
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">
							<img src="../static/images/app/member2.jpg"  alt="">
						</li>
						<li class="list-inline-item">Jonathon Andrew , Themefisher.com</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content aos-init aos-animate" data-aos="fade-left">
					<img class="img-fluid" src="../static/images/app/mobile1.jpg" alt="ipad">
				</div>
			</div>
		</div>
	</div>
    

    <section class="feature section pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ml-auto justify-content-center">
                    <!-- Feature Mockup -->
                    <div class="image-content aos-init aos-animate" data-aos="fade-right">
                        <img class="img-fluid" src="../static/images/app/mobile2.jpg" alt="iphone">
                    </div>
                </div>
                <div class="col-lg-6 mr-auto align-self-center">
                    <div class="feature-content">
                        <!-- Feature Title -->
                        <h2>Increase your productivity with <a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Small Apps</a></h2>
                        <!-- Feature Description -->
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat.</p>
                    </div>
                    <!-- Testimonial Quote -->
                    <div class="testimonial">
                        <p>
                            "InVision is a window into everything that's being designed at Twitter. It gets all of our best work in one
                            place."
                        </p>
                        <ul class="list-inline meta">
                            <li class="list-inline-item">
                                <img src="../static/images/app/member2.jpg" alt="">
                            </li>
                            <li class="list-inline-item">Jonathon Andrew , Themefisher.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><br>
    
    
    

    {% endblock %}

    